Repository acm-ucr/asme-website, pull requests merged in 2023-08, with the labels that each got.

#72 improve header responsiveness
  src/app/about/page.js
  src/app/projects/page.js
  src/components/Header.jsx
Labels: Projects Page, Ready To Review

#74 Add vertical project text
  src/components/ProjectsTab.jsx
Labels: Home Page, Ready To Review

#77 responsive /about pictures
  src/components/AboutSection.jsx
Labels: About Page, Ready To Review

#76 footer hover animation
  src/components/Footer.jsx
Labels: Footer, Ready To Review

#75 Responsify about page titles
  src/components/Title.jsx
Labels: About Page, Ready To Review

#82 Add header to board and events page
  src/app/board/page.js
  src/app/events/page.js
Labels: Events Page, Board Page, Ready To Review

#89 improve focus card responsiveness; fix <sm breakpoint bugs
  src/components/FocusCard.jsx
  src/components/FocusCards.jsx
Labels: Home Page, Ready To Review

#94 Animate Who We Are Section
  src/components/home/WhoWeAreSection.jsx
Labels: Home Page, Ready To Review, animation

#93 Create 404 Page
  src/app/not-found.js
Labels: Ready To Review

#97 Animate What We Do Section
  src/components/home/FocusCard.jsx
  src/components/home/WhatWeDoSection.jsx
  src/components/home/WhatWeDoTitle.jsx
Labels: Home Page, Ready To Review, animation

#96 staggered events (based on scroll)
  src/components/events/EventDescriptions.jsx
Labels: Events Page, Ready To Review, animation

#95 joincard onhover is now readable
  src/components/home/JoinCard.jsx
Labels: Home Page, Ready To Review

#98 Animate Projects Section
  src/components/ProjectTitle.jsx
  src/components/home/ProjectsSection.jsx
  src/components/home/ProjectsTab.jsx
Labels: Home Page, Ready To Review, animation
